.hero-char {
    background-image: url('../Assets/world.3e44e2ef.jpeg');
    padding-top: 150px;
}

.char-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#other-traveller {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#other-traveller > h1 {
    padding-left: 30px;
    padding-right: 30px;
    color: #FDA74B;
}

.chara {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chara > img {
    width: 170px;
    height: 400px;
    padding: 30px;
    padding-bottom: 5px;
}

.chara > h3 {
    padding-left: 30px;
    color: #FDA74B;
}

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FDA74B;
    background-color: black;
    padding: 20px;
}

footer h2{
    font-weight: 600;
    font-size: 25px;
}

#official{
    margin-bottom: 10px;
    padding-top: 30px;
}

footer hr{
    border: none;
    width: 100%;
    background-color: #FDA74B;
    height: 2px;
}

.arrow hr{
    width: 150px;
}

.arrow{
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrow img{
    width: 120px;
}

#traveller-bot {
    padding-bottom: 20px;
}

/* Footer End */